<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/logo.png">
    </a>
    <h1>Community-X</h1>
    <p></p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/reepz/community-x"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
  </div>
</div>
<div class="container">
<hr>
  <div class="row">
    <div class="col-md-12">
      <ol>  
        <li>Lust</li>
        <li>Gluttony</li>
        <li>Greed</li>
        <li>Sloth</li>
        <li>Wrath</li>
        <li>Envy</li>
        <li>Pride</li>
      </ol>
<hr>
      <ol>
        <li>no other Gods</li>
        <li>no idols worship</li>
        <li>no misuse the name of God</li>
        <li>remember The Holy Day</li>
        <li>respect your father and mother</li>
        <li>no murder</li>
        <li>no adultery</li>
        <li>no steal</li>
        <li>no false evidence against neighbour</li>
        <li>no envy of neighbour, thou shall not be envious of neighbour's belongings, nor wife nour house, nor anything other of neighoubour's</li>
      </ol>
    </div>
  </div> <!-- row -- >
</div>


</body>
</html>
